@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Press Start 2P";
    SRC: url(/assets/fonts/PressStart2P-Regular.ttf) format('truetype'),
         url(/src/assets/fonts/PressStart2P-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, html, body {
    font-family: 'Press Start 2P', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #775490;
    color: white;
    padding: 0;
    margin: 0;
}

@media (max-width: 640px) {

    #game-controls {
        position: fixed;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 200px;
        height: 100px;
        z-index: 999;
    }

    #game-controls #a-button {
        background: url("assets/img/interface/a-button.png") no-repeat center;
        background-size: cover;
        height: 80px;
        width: 80px;
    }

    #game-controls #b-button {
        background: url("assets/img/interface/b-button.png") no-repeat center;
        background-size: cover;
        height: 80px;
        width: 80px;
    }

}

@media(orientation: landscape) and (max-width: 640px) {

    #game-keys {
        display: none;
    }

}

@media(min-width: 640px) {

    #game-window canvas, #game-battle-frame, #game-battle-details, #game-dialogue-details {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        margin-bottom: 70px;
        height: 210px;
        width: 330px;
    }

}

@media(min-width: 1000px) {

    #game-window-frame {
        background: url("assets/img/interface/gb-frame.png") no-repeat center;
        position: absolute;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }

    #game-window canvas, #game-battle-frame, #game-battle-details, #game-dialogue-details {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        margin-bottom: 70px;
        height: 420px;
        width: 660px;
    }

}

#game-battle-frame #enter-battle-animation {
    background-color: black;
    position: absolute;
    animation: enterBattleFrameAnimation 6s ease-in;
    -webkit-animation: enterBattleFrameAnimation 6s ease-in;
}

#game-battle-frame #exit-battle-animation {
    background-color: black;
    position: absolute;
    animation: exitBattleFrameAnimation 2s ease-in;
    -webkit-animation: exitBattleFrameAnimation 2s ease-in;
}

#dialogue-value {
    left: 30px;
    right: 30px;
    bottom: 15px;
}

#enemy-pokemon-name {
    left: 20px;
    bottom: 65px;
}

#enemy-pokemon-lvl {
    left: 250px;
    top: 20px;
}

#player-pokemon-name {
    left: 380px;
    bottom: 165px;
}

#player-pokemon-lvl {
    left: 610px;
    bottom: 165px;
}

#player-pokemon-attack-1 {
    left: 50px;
    bottom: 65px;
}

#player-pokemon-attack-2 {
    left: 320px;
    bottom: 65px;
}

#player-pokemon-attack-3 {
    left: 50px;
    bottom: 15px;
}

#player-pokemon-attack-4 {
    left: 320px;
    bottom: 15px;
}

@keyframes exitBattleFrameAnimation {
    0% {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    100% {
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
    }
}

@keyframes enterBattleFrameAnimation {
    0% {
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
    }

    2% {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    4% {
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
    }

    6% {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    8% {
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
    }

    10% {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    16% {
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
    }

    30% {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    100% {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
